#Wheel{


  height: 200px;
  width: 200px;
  background-color: #65a465;
  border-radius: 50%;
  
}

#Square{

  position: relative;
  left: 100px;
  top: 92px;
  height: 20px;
  width: 100px;
  background-color: #d7b966;
  font-family: 'Roboto', sans-serif;

}

body{

  font-family: 'Open Sans', sans-serif;
  background-color: #72cad2;

}

/* Just making things look appealing, sorta we tried ok
   written by geocube333, exported through Sasugeta's github enjoy! */
